<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">Recipe Finder</a>
  </div>
  <div class="navbar-links">
    <ng-container *ngIf="isLoggedIn$ | async; else loginRegister">
      <span class="welcome-message">Welcome, {{ username$ | async }}!</span>
      <a *ngIf="isAdmin$ | async" routerLink="/admin-home" class="nav-button">Admin Panel</a>
      <button (click)="logout()" class="nav-button">Logout</button>
    </ng-container>
    <ng-template #loginRegister>
      <a routerLink="/login" class="nav-button">Login / Register</a>
    </ng-template>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>